* {
  max-width: 975px;
  margin: auto;
}

.container {
  width: 100%;
}

body {
  background-color: rgba(255, 255, 255, 0.838) !important;
}

footer {
  bottom: 0;
  width: 100%;
  height: 80px;/* Footer height */
}

.domino {
  text-shadow: 3px 4px 4px rgb(36, 61, 113);
  color: rgb(11, 5, 27);
  margin: 0px 0px 0px 0px;
}

.imagenlogo {
  height: 50px;
  padding: 0px;
}

.anotar {
  height: auto;
}

.ipequipo1 {
  width: 100%;
}

.ipequipo2 {
  width: 100%;
}

.settings-menu {
  max-width: 250px;
  height: auto;
  position: absolute;
  box-shadow: -3px 1px 27px 0px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: -3px 1px 27px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: -3px 1px 27px 0px rgba(0, 0, 0, 0.28);
  background-color: white;
  margin:auto;
}

.settings-menu input {
  width: 100%;
}

.settings-menu-hide {
  display: none !important;
}

.github-logo {
  color:black;
  transition: ease 0.5s;
}

.github-logo:visited {
  color:black;
}

.github-logo:hover {
  color:#1fa2d6;
  transition: ease 0.5s;
}


.btn-feature {
  background-color:#b22eff !important;
  border-color: #b22eff !important;
}

.hide-feature {
  display: none !important;
}

/* loader */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader-container {
  position: absolute;
  margin: auto;
  z-index: 111;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 76, 80, 0.5);
}